html, body {
    height: 100%;
}

.CodeMirror {
    font-family: 'Roboto Mono', 'Cascadia Code', monospace;
    font-size: 18px;
}

.register-label {
    writing-mode: vertical-lr;
}

.line-pc {
    background: lightslategrey !important;
}
