html, body {
    min-height: 10vh;
    height: 100vh;
}

div.top {
    height: 100%;
}

div.editor-ctrl {
    height: 75%;
}

div.output-ctrl {
    height: 20%;
    vertical-align: bottom;
}

.CodeMirror {
    font-family: 'Roboto Mono', 'Cascadia Code', monospace;
    font-size: 18px;
    height: 75%;
    width: 72%;
    position: fixed;
}

.register-label {
    writing-mode: vertical-lr;
}

tt {
    font-family: 'Roboto Mono', 'Cascadia Code', monospace;
    font-size: 16px;
}

.line-pc {
    background: lightslategrey !important;
}

div.register-row-label {
    background-color: rgba(0, 98, 204, 0.15);
    border-color: rgba(0, 86, 179, 0.2);
}
