@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
    height: 100vh;
}

div.top {
    height: 100%;
}

div.editor-ctrl {
    height: 75vh;
    flex: auto;
    flex-direction: column;
    flex-grow: 1;
}

div.output-ctrl {
    /* height: 20%; */
    height: auto;
    position: absolute;
    bottom: 0px;
    display: inline-block
}

.CodeMirror {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-grow: 1;
}

.register-label {
    writing-mode: vertical-lr;
}

tt {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

.line-pc {
    background: lightslategrey !important;
}

div.register-row-label {
    background-color: rgba(0, 98, 204, 0.15);
    border-color: rgba(0, 86, 179, 0.2);
}

tt.unprintable-char {
    color: darkslategray;
}

div.login-menu {
    width: 250px;
}

li.menu-off {
    display: none;
}
